<!DOCTYPE html>
<html lang="en">
<head>
    <title>Iris Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Iris Application</h1><hr>
    <p>This is a simple Iris application using Python Django</p>
    <form action="result">
        Sepal Length: <input type="number" name="sepal_length" required><br>
        Sepal Width: <input type="number" name="sepal_width" required><br>
        Petal Length: <input type="number" name="petal_length" required><br>
        Petal Width: <input type="number" name="petal_width" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>